* {
    cursor: url(../resources/cursors/cursor.png) 0 28, auto;
}

body {
    font-family: 'Poppins', sans-serif;
}

.menu {
    height: 15vh;
    min-height: 100px;
    max-height: 250px;
    width: 100%;
    background-color: #c17676;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.burger {
    height: 100%;
    font-size: 100px;
    padding-left: 13px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.burgerMenu {
    visibility: hidden;
    background-color: #935858;
    height: 300px;
    width: 200px;
    position: absolute;
    left: 60px;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.burgerMenu > a {
    width: 100%;
    height: auto;
    font-size: 40px;
    text-decoration: none;
    display: block;
    color: black;
    padding: 10px 0;
    box-sizing: border-box;
}


.celeste {
    display: flex;
    background-image: url(../resources/Wiki/Celeste-text.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120px;
    width: 562px;
}

.gameLogo {
    background-image: url(../resources/berry.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
}

.companyLogo {
    background-image: url(../resources/Index/exok-mark.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    display: flex;
    align-self: center;
}

.footer {
    color: white;
    width: auto;
    height: auto;
    background-color: #0d0711;
}

.footer > p:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer > p {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-weight: bold;
    font-size: 20px;
}

.legalstuf {
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-self: end;
    gap: 30px;
}

@media (min-height: 1500px) {
    .celeste {
        height: 133px;
        width: 625px;
    }

    .burger {
        font-size: 150px;
    }

    .companyLogo {
        height: 180px;
        width: 180px;
    }
}


@media (min-width: 1100px) {
    .celeste {
        height: 133px;
        width: 625px;
    }

    .burger {
        font-size: 150px;
    }

    .companyLogo {
        height: 180px;
        width: 180px;
    }

    .menu {
        min-height: 200px;
    }
}

@media (max-width: 900px) {
    .celeste {
        height: 80px;
        width: 400px;
    }

    .burger {
        font-size: 75px;
    }

    .companyLogo {
        height: 120px;
        width: 120px;
    }

    .menu {
        max-height: 250px;
    }
}

@media (max-height: 900px) {
    .celeste {
        height: 80px;
        width: 375px;
    }

    .burger {
        font-size: 75px;
    }
}

@media (max-width: 650px) {
    .celeste {
        height: 75px;
        width: 350px;
    }

    .burger {
        font-size: 50px;
    }

    .companyLogo {
        height: 90px;
        width: 90px;
    }

    .menu {
        height: 10vh;
        max-height: 200px;
    }
}

@media (max-width: 950px) {
    .footer > p:first-child {
        text-align: center;
        padding-top: 40px;
        font-weight: bold;
        font-size: 20px;
        width: 100%;
    }
}

@media (max-width: 550px) {
    .celeste {
        height: 50px;
        width: 250px;
    }

    .burger {
        font-size: 50px;
    }

    .companyLogo {
        height: 60px;
        width: 60px;
    }

    .menu {
        max-height: 100px;
    }

    .legalstuf{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (max-width: 400px) {
    .celeste {
        height: 40px;
        width: 200px;
    }

    .burger {
        font-size: 30px;
    }

    .companyLogo {
        height: 40px;
        width: 40px;
    }

    .menu {
        height: 10vh;
    }
}
